/* general styling */
* {
  font-family: "Raleway", serif;
  background-color: black;
}

.title {
  font-size: 75px;
  letter-spacing: 5px;
  color: rgb(222, 222, 222);
  text-shadow: 0 0 30px rgba(255, 183, 0, 0.761);
}

.body-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

p {
  font-size: 1.5rem;
  margin: 10px 0;
}

/* content layout */
.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.wallie-container {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-top: 30px;
}

/* list styling */
ol {
  text-align: left;
  font-size: 1.2rem;
}

/* dog image styling */
#dog-image {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.wallie-image {
  border-radius: 20%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
  width: 300px;
  height: 300px;
  object-fit: cover;
}

/* about the author styling */
.about-the-author {
  font-weight: bold;
  font-size: 2rem;
  color: #00bcd4;
}

/* input field styling */
#breed {
  padding: 10px;
  margin-top: 20px;
  width: 800px;
  height: 20px;
  border: none;
  border-radius: 50px;
  background-color: #1c1c1c;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

#breed::placeholder {
  color: #d8d8d8ae;
}

#breed:hover {
  background-color: #424242;
}

#breed:focus {
  outline: none;
  border: 2px solid #414141;
}

/* button styling */
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 30px;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 100px;
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 10px;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  color: white;
}

button:hover {
  transform: scale(1.05);
  cursor: pointer;
}

#submit {
  background-color: #007892;
  width: 200px;
}

#submit:hover {
  background-color: #0085a3;
}

#random {
  animation-name: color-change;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  width: 200px;
}

@keyframes color-change {
  0% {
    background-color: red;
  }
  20% {
    background-color: rgb(253, 211, 0);
  }
  40% {
    background-color: green;
  }
  60% {
    background-color: blue;
  }
  80% {
    background-color: purple;
  }
  100% {
    background-color: red;
  }
}
